{% extends "network/layout.html" %}

{% block body %}
    <div class="container-fluid">
        <h1 class="display-4">{{ headline }}</h1>
        <div>
            {% if user.is_authenticated %}
                <form method="post">
                    {% csrf_token %}
                    <div class="border my-3 p-3">
                        <h4><strong>New Post</strong></h4>
                        <textarea class="form-control" name="new-post" id="new-post-form" cols="30" rows="5" required></textarea>
                        <input type="submit" value="Post" class="btn btn-primary mt-2">
                    </div>
                </form>
            {% endif %}
            {% for post in page_obj.object_list %}
                {% with post=post user=user counter=forloop.counter %}
                    {% include "network/post.html" with post=post user=user counter=counter %}
                {% endwith %}
            {% endfor %}
        </div>

        {% include "network/pagination.html" %}
    </div>
{% endblock %}