{% extends "network/layout.html" %}

{% block body %}    
    
<div class="container mt-5 mx-auto w-50">
    <div class="row">
        <div class="col-md-9">
            <!-- User Information -->
            <h2 class="text-center">{{ object.username }}</h2>
            <p class="text-muted text-center">Joined {{ object.date_joined|date:"F d, Y" }}</p>

            <div class="d-flex mx-auto w-50" style="gap:60%">
                <div><strong id="follower-count">{{ object.followers.count }}</strong> Followers</div>
                <div><strong>{{ object.following.count }}</strong> Following</div>
            </div>
            
            {% if user.is_authenticated and object != user %}
                {% csrf_token %}
                <div class="text-center mt-4">
                    <button 
                        href="#" 
                        class="btn btn-primary mx-5 w-50" 
                        onclick="toggleFollow(this)" 
                        data-username="{{ object.username }}" 
                        data-api-url="{% url 'api-follow' %}"
                            {% if is_following %}
                                data-action="UNFOLLOW">Unfollow
                            {% else %}
                                data-action="FOLLOW">Follow
                            {% endif %}
                    </button>
                </div>
            {% endif %}
        </div>
    </div>

    <!-- User Posts -->
    <div class="row mt-4">
        <div class="col-md-12">
            <h3>User Posts</h3>
            {% for post in page_obj %}
                {% with post=post user=user counter=forloop.counter %}
                    {% include "network/post.html" with post=post user=user counter=counter %}
                {% endwith %}
            {% endfor %}
            {% include 'network/pagination.html' %}

            <!-- Add more posts as needed -->
        </div>
    </div>
</div>

{% endblock body %} 


